<!DOCTYPE html>
<html>
  <head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="./register.component.css">
</head>
<body>
  <div class="registration-form">
     <h1>Registration Form</h1>
     <form class="codehim-form">
 
            Enter Customer Id: <input type = "text" placeholder="ID" [(ngModel)] = 'customer.customerid'><br/><br/>
            Enter Customer Name: <input type = "text" placeholder="NAME" [(ngModel)] = 'customer.customername'><br/><br/>
            Enter Mobile Number :<input type = "text" placeholder="Mobile" [(ngModel)] = 'customer.mobileno'><br/><br/>
            Enter Email:<input type = "text" placeholder="Email" [(ngModel)] = 'customer.email'><br/><br/>
            Enter Password:<input type = "text" placeholder="PASSWORD" [(ngModel)] = 'customer.password'><br/><br/>
            <input type ="submit" value ="REGISTER" (click)="registerEmp()">  
   </form>
  </div>
</body>
</html>

