/* .bg-img {
  
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHsU5wL7iQT9zxNWT5wymHeMcXtGS-1W-i8A&usqp=CAU");
  

    height: 695px;
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  } */
/* ************************************ */


   *  {
    padding: 0;
    margin: 0;
    font-family: sans-serif; 
}

body {
  background: url('https://images.unsplash.com/photo-1529539795054-3c162aab037a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bG9naW58ZW58MHx8MHx8&w=1000&q=80') no-repeat;
  /* background-size: cover; */
  color: #fff;

  background-size: 100%;
        background-position: center;
        height: 695px;
        position: relative;
}

    /* .registration-form { 
    position: center;  
  top: 50%;
  left: 50%;
   transform: translate(-50%, -50%); 
  width: 400px;
   /* box-shadow: 4px 2px 16px rgb(0 0 0 / 40%);  
}     */

.codehim-form{
  max-width: 600px;
  min-height: 400px;
  box-sizing: border-box;
  box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  margin:  20px auto 0 auto;
  width: 40%;
  padding: 25px;
 
      
}


.registration-form h1{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0;
}

.registration-form p{
  font-size: 20px;
  margin: 15px;    
}

.registration-form input{
  font-size: 16px;
  padding: 15px 10px;
  width: 50%;
  border: 0;
  border-radius: 5px;
  outline: none;
}
.registration-form button{
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px 15px;
  width: 50%;
  border: 0;
  border-radius: 5px;
  background-color:  #fff;
}

.registration-form button:hover {
  color:red;
} 