<!-- <html lang="en">
 
    <body>
    <nav class="navbar navbar-inverse">
       <div class="container-fluid"> 
          <div class="navbar navbar-dark bg-primary shadow-sm ">  
           <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;</i> 
          <strong style="font-size: 30px;">MEGA STORE</strong>
        </div>
      <div class="form-group">   
          <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
      </div>
      <span class="fas fa-search search-icon"></span>
    
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/register"><span class="glyphicon glyphicon-user"></span> REGISTER</a></li>
          <li class = "active"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
          <li><a href="/showemp"> SHOWEMP</a></li>
          <li> <button routerLink="cart" class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button></li>
        </ul>
      </div>
     </nav>
  </body>
</html>  -->




<!-- <header>
    <div class="navbar navbar-dark bg-secondary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
       <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp; </i> 
           <strong style="font-size: 30px;">MEGA STORE</strong>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
                <span class="fas fa-search search-icon"></span>
            </div>
        </div>
         
        <div class="topnav-right">
          <a class = "active" href = "#">HOME</a>
          <a href="/register"><span class="glyphicon glyphicon-user"></span> REGISTER</a>
          <a href="/login"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a>
          <a href="/showemp"> SHOWEMP</a>
 
           <button routerLink="cart" class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button></div>
    </div>
</header>  -->


 
<div class="topnav">
  <div class="navbar-brand align-item-center d-flex"> 
    <!-- <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp; </i>  -->
    <strong style="font-size: 30px;">MEGA STORE</strong>
     <div class="form-group">
         <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
         <!-- <span class="fas fa-search search-icon"></span> -->
     </div>
  </div>
     
  <div class="topnav-right">
   
    <a class = "active" href = "/slideshow">HOME</a>
          <a href="/register"><span class="glyphicon glyphicon-user"></span> REGISTER</a>
          <a href="/login"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a>
          <span class="loginlogoutlink">
            <a  class="loginlogoutlink-logout" href="/slideshow">LOG OUT</a>
          </span>
          <a href="/showemp"> DATABASE</a>
 
            <button routerLink="cart" class="btn btn-secondary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
           </button>
</div>
</div>


