  <!-- <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <table>
    <div align="center" class="details">
        <form #loginForm=ngForm (ngSubmit)='loginSubmit2(loginForm.value)' class="form-group" novalidate>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" placeholder="email" name="email" ngModel required #loginId=ngModel
                    class="form-control" minlength="2" maxlength="50" /> <br />
            </div>
            
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" placeholder="Password" name="password" ngModel required #password=ngModel
                    class="form-control" minlength="2" maxlength="10" /> <br />
            </div>
            
            <button [disabled]="!loginForm.valid" class="btn btn-outline-primary">Submit</button>
        </form>
        <div class="text-danger">
            <div *ngIf='loginId.errors?.required && loginId.touched'> Enter data into loginId field </div>
            <div *ngIf='loginId.errors?.minlength && loginId.touched'> Enter data atleast 2 characters in loginId field
            </div>
    
            <div *ngIf='password.errors?.required && password.touched'> Enter data into password field </div>
            <div *ngIf='password.errors?.minlength && password.touched'> Enter data atleast 2 characters in password field
            </div>
        </div>
    </div>
</table>-->


<!-- <div class = "bg-image-text-center"
style = "background-image:url('https://i.pinimg.com/736x/06/ae/75/06ae758df27068656cd9e2e0f975408f.jpg?q=100');">
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
                <div class="mb-md-5 mt-md-4 pb-5">
                                        
              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>

              <div class="form-outline form-white mb-4">
                <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX">Email</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX">Password</label>
              </div>

              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>

              <button class="btn btn-outline-light btn-lg px-5" type="submit"><a routerLink="/product"></a>Login</button>

              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
              </div>
        

             
            </div>

            <div>
              <p class="mb-0">Don't have an account? <a href="/register" class="text-white-50 fw-bold">Register</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>  -->





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">  -->
    <title>  Login Page </title>
    <meta name="author" content="Codeconvey" />
    
    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
     integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <!-- Stylish Login Page CSS -->
    <link rel="stylesheet" href="login.component.css">
    
   
	
</head>
<body>
		
<div class="ScriptTop">
    <div class="rt-container">
        <div class="col-rt-4" id="float-right">
 
            <!-- Ad Here -->
            
        </div>
        <div class="col-rt-2">
            
        </div>
    </div>
</div>

<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
            	<h1></h1>
                <p></p>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
              <!-- Stylish Login Page Start -->
                <form class="codehim-form">
        <div class="form-title">
            <div class="user-icon gr-bg">
            <i class="fa fa-user"></i>
            </div>
     <h2> Login Form</h2>
            </div>
    <label for="email"><i class="fa fa-envelope"></i> Email:</label>
        <input type="email" id="email" class="cm-input" placeholder="Enter your email adress">
        
        <label for="pass"><i class="fa fa-lock"></i> Password:</label>
        <input id="pass" type="password" class="cm-input" placeholder="Enter your password">
        <button type="submit"><a href = "/product" >Login</a></button>
    </form>
              <!-- Stylish Login Page End -->
    		
    		</div>
		</div>
    </div>
</section>
     


    <!-- Analytics -->

	</body>
</html>