<!-- <app-login></app-login> -->
  <!-- <app-register></app-register>   --> 
 <!--<app-display></app-display> -->
 <!-- <app-homepage></app-homepage>      -->
<!-- <marquee><h1>Welcome to Mini Cart...</h1></marquee> -->
<!-- <app-login></app-login> -->

<router-outlet></router-outlet> 

