.container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: rgb(241, 25, 108);
     background-image: url("src\assets\images (1).jpg"); 
  }