<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <header>
<div class="topnav">
  <div class="navbar-brand align-item-center d-flex">
    
     <!-- <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp; </i>  -->
      <strong style="font-size: 30px;">MEGA STORE</strong>
       <div class="form-group">
         <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
          <!-- <span class="fas fa-search search-icon"></span>  -->
        </div>
  
     
  <div class="topnav-right">
      <a class = "active" href = "#">HOME</a>
           <!-- <a href="/register"><span class="glyphicon glyphicon-user"></span> REGISTER</a> -->
          <!-- <a href="/login"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a> -->
          <span class="loginlogoutlink"> 
            <a  class="loginlogoutlink-logout" href="/login">LOG OUT</a>
          </span>  
          <!-- <a href="/showemp"> DATABASE</a>-->
         <button routerLink="/cart" class="btn btn-secondary">
              <i class="fa fa-shopping-cart" style="font-size: 34px;"></i> 
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
           </button> 
        </div>
</div>
</div>
</header>
